<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Estacionamento - Guardar veiculo</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Estilo do Layout-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion no-print" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon rotate-n-15">

                </div>
                <div class="sidebar-brand-text mx-3">Estacionamento</div>
            </a>


            <br>
            <br>
            <!-- Heading -->
            <div class="sidebar-heading">
                Menu Principal
            </div>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="lista-veiculos">

                    <span>Movimentação</span></a>
            </li>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <li class="nav-item">
                <a class="nav-link" href="/">

                    <span>Sair</span></a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

                    <h1>Estacionar veiculo</h1>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Nome Usuario</span>
                                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil
                                </a>

                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800 text-center">Nova Movimentação</h1>
                    <div class="row">
                        <div class="col-12">

                            <!-- Inicio do Card -->
                            <div class="card shadow mb-4 card-novaaposta mx-auto">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary text-center">Dados do veiculo</h6>
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-lg-6 d-flex align-items-center justify-content-center">

                                            <form class="user" method="POST" action="cadastrar-veiculo">
                                                <div class="form-group ">
                                                    <input type="text" class="form-control form-control-user" name="modelo" id="modelo" aria-describedby="emailHelp" placeholder="Modelo">
                                                    <span class="msg_erro msg_modelo" style="display: none"> O Campo Modelo é Obrigatorio</span>
                                                    <span class="msg_erro msg_nome_modelo" style="display: none"> este Modelo é invalido</span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" class="form-control form-control-user" name="placa" id="placa" placeholder="Placa">
                                                    <span class="msg_erro msg_placa" style="display: none"> O Campo Placa é Obrigatorio</span>
                                                    <span class="msg_erro msg_nome_placa" style="display: none"> esta Placa é invalida</span>
                                                </div>
                                                <div class="card-footer text-center">
                                                    <a href="cadastrar-veiculo">
                                                        <button type="submit" class="btn btn-primary btn-icon-split btn-lg mt-3 mb-3" onclick="validarVeiculo()">

                                                            <span class="text">Salvar</span>
                                                        </button>
                                                    </a>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="col-lg-5 d-none d-lg-block bg-register-image">

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- / Fim do Card-->

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Developed by <a href="https://github.com/LuizRoberto18">Luiz</a> 2022</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!--Validar Veiculo-->
    <script src="js/cadastro-veiculo.js"></script>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>